In [1]:
import pandas as pd

In [2]:
meta = '/Users/gta/Desktop/uscdatabootcamp/hw-13/DataSets/Belly_Button_Biodiversity_Metadata.csv'
metaCol = '/Users/gta/Desktop/uscdatabootcamp/hw-13/DataSets/metadata_columns.csv'
otuId = '/Users/gta/Desktop/uscdatabootcamp/hw-13/DataSets/belly_button_biodiversity_otu_id.csv'
samples = '/Users/gta/Desktop/uscdatabootcamp/hw-13/DataSets/belly_button_biodiversity_samples.csv'

dfMeta = pd.read_csv(meta)
dfMetaCol = pd.read_csv(metaCol)
dfOtuId = pd.read_csv(otuId)
dfSamples = pd.read_csv(samples)

In [3]:
dfMeta.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [8]:
dfOtuId.head(10)

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...
5       6  Archaea;Euryarchaeota;Methanobacteria;Methanob...
6       7                                           Bacteria
7       8                                           Bacteria
8       9                                           Bacteria
9      10                                           Bacteria

In [7]:
dfMetaCol.head(21)

            COLUMN     TYPE                                        DESCRIPTION
0         SAMPLEID  INTEGER                                          sample_id
1            EVENT     TEXT                                  Collection event
2        ETHNICITY     TEXT                                          Ethnicity
3           GENDER     TEXT                               Gender (male/female)
4              AGE  INTEGER                                     Age (in years)
5            WFREQ  INTEGER   Washing Frequency (belly button scrubs per week)
6           BBTYPE     TEXT                                   Innie or Outtie?
7         LOCATION     TEXT  City and State in which participant lived at t...
8       COUNTRY012     TEXT  Country in which participant lived from age 0 ...
9           ZIP012  INTEGER  Zip code in which participant lived from age 0...
10     COUNTRY1319     TEXT  Country in which participant lived from age 13...
11         ZIP1319  INTEGER  Zip code in which participant lived from age 1...
12             DOG     TEXT      Do you Currently Live with a Dog (yes or no)?
13             CAT     TEXT      Do you Currently Live with a Cat (yes or no)?
14   IMPSURFACE013  INTEGER  Impervious surface (such as cement) in center ...
15          NPP013    FLOAT  Net Primary Productivity in center of zipcode ...
16     MMAXTEMP013    FLOAT  Mean maximum monthly temperature in center of ...
17          PFC013    FLOAT  Percent Forest Cover in center of zipcode wher...
18  IMPSURFACE1319  INTEGER  Impervious surface (such as cement) in center ...
19         NPP1319    FLOAT  Net Primary Productivity Impervious surface (s...
20    MMAXTEMP1319    FLOAT  Mean maximum monthly temperaturein center of z...

In [17]:
dfSamples.sort_values('BB_940', ascending=False)

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
1166,1167,163.0,24,0,0,32,217,27,18.0,0,...,0,0,0,93,0,14,0,0,0,73
2858,2859,126.0,21,0,0,40,195,200,47.0,0,...,0,0,0,19,0,14,0,0,0,0
481,482,113.0,8,0,0,9,28,3,50.0,0,...,0,0,0,67,0,29,0,0,0,0
2263,2264,78.0,4,0,0,0,12,1,18.0,0,...,0,0,0,4,0,0,0,0,0,0
40,41,71.0,4,0,3,14,153,13,10.0,0,...,0,0,0,12,0,0,0,0,0,0
1188,1189,51.0,0,0,0,5,26,0,20.0,0,...,0,0,0,17,0,2,0,0,0,0
351,352,50.0,3,0,0,0,0,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
188,189,47.0,2,0,0,0,0,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
2317,2318,40.0,1,0,0,7,31,6,6.0,0,...,0,0,0,0,0,2,0,0,0,0
1976,1977,40.0,2,0,0,0,9,1,29.0,0,...,0,0,0,23,0,1,0,0,0,0
3449,3450,37.0,84,0,0,6,24,46,13.0,0,...,0,0,0,33,0,0,0,0,0,12
873,874,36.0,8,0,0,0,8,0,2.0,0,...,0,0,0,1,0,0,0,0,0,0
1958,1959,30.0,3,0,0,0,0,0,0.0,0,...,0,0,0,2,0,0,0,0,0,0
2190,2191,28.0,0,0,0,5,17,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1949,1950,25.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2076,2077,23.0,1,0,0,0,0,0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
2274,2275,22.0,1,0,0,5,19,2,2.0,0,...,0,0,0,1,0,5,0,0,0,0
2183,2184,19.0,0,0,0,0,0,0,12.0,0,...,0,0,0,3,0,0,0,0,0,0
943,944,19.0,178,0,8,274,7,135,9.0,4,...,156,0,22,13,0,15,0,3,1,25
2243,2244,14.0,0,0,0,2,4,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2418,2419,13.0,162,0,0,110,36,412,55.0,8,...,3,1,0,2,5,16,0,0,0,22
2023,2024,13.0,0,0,0,0,0,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
2810,2811,13.0,0,0,0,0,0,0,0.0,0,...,0,0,0,3,0,0,0,0,0,0
2781,2782,12.0,3,0,0,14,116,3,18.0,0,...,0,0,0,2,0,2,0,0,0,0
164,165,12.0,0,0,0,0,0,0,4.0,0,...,0,0,0,1,0,0,0,0,0,0
2395,2396,11.0,0,0,0,0,16,2,12.0,0,...,0,0,0,0,0,0,0,0,0,1
2246,2247,11.0,0,0,0,0,0,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
2010,2011,11.0,0,0,0,12,159,15,19.0,0,...,0,0,0,0,0,0,0,0,0,0
829,830,10.0,1,0,1,6,28,3,15.0,0,...,0,0,3,4,0,0,0,0,0,1
1794,1795,10.0,40,2,11,141,2,102,8.0,3,...,143,1,537,26,3,14,1,130,176,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,1315,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1289,1290,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1288,1289,0.0,0,0,0,0,3,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1287,1288,0.0,0,0,0,0,1,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1286,1287,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1262,1263,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1263,1264,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,1,0,0,0,0,0,1
1264,1265,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1265,1266,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1266,1267,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1267,1268,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1268,1269,0.0,0,0,0,0,1,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1269,1270,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1270,1271,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1271,1272,0.0,0,0,0,0,0,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
1272,1273,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,1,0,0,0,0,0,0
1274,1275,0.0,0,0,0,0,1,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1275,1276,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1276,1277,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1277,1278,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1278,1279,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1279,1280,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1280,1281,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1281,1282,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1282,1283,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1283,1284,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1284,1285,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1285,1286,0.0,0,0,0,8,83,6,0.0,0,...,0,0,0,0,0,0,2,0,0,0
3673,3674,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3461,3462,NaN,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
dfSamples.shape

(3674, 154)

In [12]:
df1 = dfSamples[['otu_id', 'BB_940']]

In [15]:
df1.describe()

            otu_id       BB_940
count  3674.000000  3673.000000
mean   1837.500000     0.391233
std    1060.736772     4.820888
min       1.000000     0.000000
25%     919.250000     0.000000
50%    1837.500000     0.000000
75%    2755.750000     0.000000
max    3674.000000   163.000000

In [16]:
df1.sort_values('BB_940', ascending=False).head(10)

      otu_id  BB_940
1166    1167   163.0
2858    2859   126.0
481      482   113.0
2263    2264    78.0
40        41    71.0
1188    1189    51.0
351      352    50.0
188      189    47.0
2317    2318    40.0
1976    1977    40.0